<ion-view>
    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-share"></button>
    </ion-nav-buttons>
    <ion-content class="has-header">
        <div class="padding data civ article">

            <div class="card">
                <a class="item item-images" href="#">
                    <img src="img/image-placeholder.png" style="width:100%">
                </a>
                <a class="item item-text-wrap item-body animated" href="#">
                    <strong>Card Title</strong>
                    <p class="date">October 15th, 2015</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis nihil rem harum incidunt tenetur voluptas, vitae omnis quia iusto tempora alias, voluptatum rerum eum perspiciatis at amet ratione voluptatibus quidem!</p>
                </a>
                <a class="item item-footer" href="#">
                    Peter Benoit
                </a>
            </div>


            <div class="title">Content Item View Title</div>
            <div class="datepub">October 13th, 2015</div>
            <div class="source">Source: Peter Benoit</div>
            <div class="contentarea">
                <p>Bacon ipsum dolor amet shoulder magna hamburger velit ipsum sirloin meatloaf pork. Ham strip steak spare ribs, rump consequat venison cow prosciutto nostrud boudin ribeye ball tip hamburger. Culpa do ball tip dolor dolore strip steak, mollit ham hock ex esse t-bone turducken frankfurter. Occaecat ea rump, aute brisket commodo tempor doner leberkas ut. Nisi picanha laboris adipisicing, do aliqua duis. Swine excepteur boudin pork loin, fatback cupim id ham sunt.</p>
                <p>Laboris pork belly voluptate bacon pastrami esse. Elit cupidatat commodo dolore velit. Tongue pastrami aute pork chop velit cupidatat, pancetta in capicola qui. Boudin occaecat short loin, reprehenderit bresaola nisi kevin rump in tri-tip jerky pig shank jowl incididunt. Shankle strip steak adipisicing proident id ham hock prosciutto, sirloin et lorem velit exercitation. Cupidatat laboris qui aliquip sausage boudin ut ham hock bresaola dolore flank labore doner est.</p>
                <p>Dolore ex anim pig jerky beef ribs. Cupidatat cupim short loin elit bacon laboris rump duis beef ribs flank chuck corned beef ground round do doner. Tongue tempor porchetta qui mollit short loin venison turducken landjaeger exercitation andouille proident veniam in ham hock. Ut shank ball tip jowl, qui turkey sirloin. Pork loin ut et dolore.</p>
                <p>In ut landjaeger sausage duis, short ribs esse shoulder spare ribs ex sirloin rump meatball pork chop. Ut cupidatat commodo turducken. Magna consectetur cupidatat, nostrud lorem sirloin rump minim pariatur chicken nisi. Biltong voluptate tenderloin, eu brisket ham minim in tri-tip beef drumstick kevin swine fugiat laborum. Veniam adipisicing aliquip tri-tip flank boudin tail deserunt jerky sed doner duis ipsum pork loin. Bresaola ut filet mignon, excepteur in beef magna.</p>
                <p>Irure bacon andouille tongue chuck pancetta jowl bresaola, dolore pariatur beef meatball enim venison ullamco. Consequat drumstick dolore elit in. Pariatur swine cupim turducken sunt chicken prosciutto dolor bresaola biltong ut pig short ribs. Chicken in biltong corned beef tempor, bacon ribeye velit. Velit flank esse do turkey. Jerky short ribs laborum chicken short loin pork loin culpa minim.</p>
            </div>
            <p><button class="button icon-left ion-share button-outline button-positive">Share</button>
                <button class="button icon-left ion-share button-outline button-positive">View on CDC.gov</button>
            </p>
        </div>
    </ion-content>
</ion-view>
