<ion-view>
    <ion-content scroll="true" overflow-scroll="true" class="iframe-wrapper">
        <div ng-if="nochrome">
            <h2 class="title">{{data.name}}</h2>
            <p>Published {{data.datePublished | date:'fullDate'}}</p>
            <p>Source: [Source Name]</p>
        </div>
       <iframe data-tap-disabled="true" src="{{frameUrl}}"></iframe>

        <p><button class="button icon-left ion-share button-outline button-positive" ng-click="shareData()">Share</button>
        <button class="button icon-left ion-share button-outline button-positive" ng-click="viewOnCDC()">View on CDC</button></p>
    </ion-content>
</ion-view>
