<ion-view>
  <ion-content>

        <ion-refresher
        pulling-text="Pull to refresh..."
        on-refresh="doRefresh()">
        </ion-refresher>

        <div class="image-stream">
            <div ng-repeat="data in datas | limitTo: paginationLimit()" class="row" ng-if="$index % 2 === 0">
                <a href="{{url}}{{$index}}" ng-if="$index < datas.length">
                    <div class="item item-image">
                        <img ng-src="{{datas[$index].enclosures[0].resourceUrl}}" class="horizontal" orientation>
                    </div>
                </a>
                <a href="{{url}}{{$index + 1}}" ng-if="$index + 1 < datas.length">
                    <div class="item item-image">
                        <img ng-src="{{datas[$index + 1].enclosures[0].resourceUrl}}" class="horizontal" orientation>
                    </div>
                </a>
            </div>
        </div>


    <button class="button button-block button-positive" ng-show="hasMoreItems()" ng-click="showMoreItems()" >
        Show more
    </button>

  </ion-content>
</ion-view>
