<ion-view>
    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear" ng-click="shareData()" ng-class="{'ion-android-share-alt': devicePlatform === 'Android','ion-ios-upload-outline': devicePlatform !== 'Android'}"></button>
    </ion-nav-buttons>
    <ion-content class="has-header">
        <div class="padding data journal civ">
            <div class="title">{{data.name}}</div>
            <div class="datepub">{{data.datePublished}}</div>
            <div class="source">Source: {{name}}</div>
            <p class="contentarea" ng-bind-html="content"></p>
            <p class="right padding"><button class="button icon-right ion-share button-outline button-positive" ng-click="shareData()">Share</button>
                <button class="button icon-right ion-share button-outline button-positive" ng-click="viewOnCDC()">View on CDC.gov</button>
            </p>
        </div>
    </ion-content>
</ion-view>
