<ion-side-menus> <!--enable-menu-with-back-views="false"-->
    <ion-side-menu-content>
        <ion-nav-bar class="bar-positive" align-title="left" animation="no-animation">
            <ion-nav-back-button alt="Back Button" ng-click="goBack()">
            </ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button alt="Menu Button" class="button button-icon button-clear ion-navicon" menu-toggle="left" id="navicon"></button>
            </ion-nav-buttons>
            <ion-nav-buttons side="right">
                <a alt="Settings Button" class="button button-clear" href="#/app/settings"><i class="icon ion-gear-a"></i></a>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left" ng-if="orientation == 'portrait'" expose-aside-when="(orientation: landscape)" yarp>
        <ion-header-bar class="bar-positive">
            <button alt="Close Button" class="button button-icon button-clear ion-android-close" menu-toggle="left" ng-click="alert('')"></button>
        </ion-header-bar>
        <ion-content>
            <ion-list can-swipe="listCanSwipe">
                <h4 class="cdc-blue primary">Articles</h4>
                <ion-checkbox ng-repeat="i in menu.data.sources | filter:{'contenttype':'Articles'}" ng-model="i.checked" ng-checked="i.checked" ng-disabled="i.readonly" nav-clear nav-transition="ios">
                    <i class="icon {{i.icon}}"></i> {{ i.title }}
                </ion-checkbox>
                <h4 class="cdc-blue primary">Blogs</h4>
                <ion-checkbox ng-repeat="i in menu.data.sources | filter:{'contenttype':'Blogs'}" ng-model="i.checked" ng-checked="i.checked" ng-disabled="i.readonly" nav-clear nav-transition="ios">
                    <i class="icon {{i.icon}}"></i> {{ i.title }}
                </ion-checkbox>
                <h4 class="cdc-blue primary">Data &amp; Statistics</h4>
                <ion-checkbox ng-repeat="i in menu.data.sources | filter:{'contenttype':'Data'}" ng-model="i.checked" ng-checked="i.checked" ng-disabled="i.readonly" nav-clear nav-transition="ios">
                    <i class="icon {{i.icon}}"></i> {{ i.title }}
                </ion-checkbox>
                <h4 class="cdc-blue primary">Facts</h4>
                <ion-checkbox ng-repeat="i in menu.data.sources | filter:{'contenttype':'Facts'}" ng-model="i.checked" ng-checked="i.checked" ng-disabled="i.readonly" nav-clear nav-transition="ios">
                    <i class="icon {{i.icon}}"></i> {{ i.title }}
                </ion-checkbox>
                <h4 class="cdc-blue primary">Journals</h4>
                <ion-checkbox ng-repeat="i in menu.data.sources | filter:{'contenttype':'Journals'}" ng-model="i.checked" ng-checked="i.checked" ng-disabled="i.readonly" nav-clear nav-transition="ios">
                    <i class="icon {{i.icon}}"></i> {{ i.title }}
                </ion-checkbox>
                <h4 class="cdc-blue primary">News</h4>
                <ion-checkbox ng-repeat="i in menu.data.sources | filter:{'contenttype':'News'}" ng-model="i.checked" ng-checked="i.checked" ng-disabled="i.readonly" nav-clear nav-transition="ios">
                    <i class="icon {{i.icon}}"></i> {{ i.title }}
                </ion-checkbox>
                <h4 class="cdc-blue primary">Photos</h4>
                <ion-checkbox ng-repeat="i in menu.data.sources | filter:{'contenttype':'Photos'}" ng-model="i.checked" ng-checked="i.checked" ng-disabled="i.readonly" nav-clear nav-transition="ios">
                    <i class="icon {{i.icon}}"></i> {{ i.title }}
                </ion-checkbox>
                <h4 class="cdc-blue primary">Social</h4>
                <ion-checkbox ng-repeat="i in menu.data.sources | filter:{'contenttype':'Social'}" ng-model="i.checked" ng-checked="i.checked" ng-disabled="i.readonly" nav-clear nav-transition="ios">
                    <i class="icon {{i.icon}}"></i> {{ i.title }}
                </ion-checkbox>
                <h4 class="cdc-blue primary">Video &amp; Audio</h4>
                <ion-checkbox ng-repeat="i in menu.data.sources | filter:{'contenttype':'AudioVideo'}" ng-model="i.checked" ng-checked="i.checked" ng-disabled="i.readonly" nav-clear nav-transition="ios">
                    <i class="icon {{i.icon}}"></i> {{ i.title }}
                </ion-checkbox>
            </ion-list>
        </ion-content>
    </ion-side-menu>
    <ion-side-menu side="left" ng-if="doSomething() && orientation == 'landscape'" expose-aside-when="(orientation: landscape)" narp>
        <ion-header-bar class="bar-positive">
        </ion-header-bar>
        <ion-content>
            <ion-list can-swipe="listCanSwipe">
                <div class="item">
                  A few
                </div>
                <div class="item">
                  of my
                </div>
                <div class="item">
                  favorite
                </div>
                <div class="item">
                  things
                </div>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
