<ion-modal-view>
	<ion-header-bar class="bar bar-header bar-positive cdc-blue selected border">
		<h1 class="title">First Run</h1>
		<button class="button button-icon button-clear ion-close" ng-click="modal.hide()"></button>
	</ion-header-bar>
	<ion-content class="padding">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt dolores amet, quia ut eos eum velit porro doloremque possimus sint veniam reiciendis dolorum magnam quidem quas corporis ea ab tempora?</p>
	</ion-content>
</ion-modal-view>

