<ion-view>
	<ion-content class="has-header">
		<ion-list data-ng-repeat="sourceType in sources.sourceTypes">
			<ion-item class="cdc-blue primary">
				{{sourceType.typeName}}
			</ion-item>

			<ion-item ng-repeat="source in sources.sourceList | filter:{'typeIdentifier':sourceType.typeIdentifier} | orderBy:'displayOrder'" data-ng-if="global.sourceFilters[source.typeIdentifier][source.feedIdentifier].isEnabled" href="#app/source/{{source.feedIdentifier}}">
				<a alt="{{source.title}}" href="#/app/source/{{source.feedIdentifier}}">{{source.title}}</a>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>