<ion-view>
	<ion-content class="has-header">
		<ion-list data-ng-repeat="sourceType in sources.sourceTypes">
			<ion-item class="cdc-blue primary">
				{{sourceType.typeName}}
			</ion-item>
			<!-- <ion-item ng-repeat="objFeed in global.sourceList | filter:{'typeIdentifier':sourceType.typeIdentifier}" data-ng-if="global.sourceFilters[objFeed.typeIdentifier][objFeed.feedIdentifier].isEnabled">
				<a alt="{{objFeed.title}}" href="#/app/source/{{objFeed.feedIdentifier}}/">{{objFeed.title}}</a>
			</ion-item> -->

			<!-- <ion-checkbox ng-repeat="objFeed in global.sourceList | filter:{'typeIdentifier':sourceType.typeIdentifier} | orderBy:'displayOrder'"
				ng-if="objFeed.feedIdentifier !== 'homestream'"
				ng-model="global.sourceFilters[objFeed.typeIdentifier][objFeed.feedIdentifier].isEnabled"
				ng-checked="global.sourceFilters[objFeed.typeIdentifier][objFeed.feedIdentifier].isEnabled"
				ng-disabled="global.sourceFilterLocks[objFeed.typeIdentifier][objFeed.feedIdentifier].filterLocked"
				nav-clear nav-transition="ios" data-ng-click="settings.saveFilters(global.sourceFilters)">
				{{objFeed.title}}
			</ion-checkbox> -->
			<ion-item ng-repeat="source in sources.sourceList | filter:{'typeIdentifier':sourceType.typeIdentifier} | orderBy:'displayOrder'" data-ng-if="source.feedIdentifier !== 'homestream' && global.sourceFilters[source.typeIdentifier][source.feedIdentifier].isEnabled" href="#app/source/{{source.feedIdentifier}}">
				<a alt="{{source.title}}" href="#/app/source/{{source.feedIdentifier}}/">{{source.title}}</a>
			</ion-item>
		</ion-list>
	</ion-content>
	<!--<ion-content>
		<ion-list>
			<ion-item ng-repeat="source in sources.sourceList | orderBy:'displayOrder'" data-ng-if="source.feedIdentifier !== 'homestream' && global.sourceFilters[source.typeIdentifier][source.feedIdentifier].isEnabled" href="#app/source/{{source.feedIdentifier}}">
				<i class="icon {{source.icon}}"></i> {{source.title}}
			</ion-item>
		</ion-list>
	</ion-content> -->
</ion-view>