<ion-view>
    <ion-content ng-init="init()" class="content-stable">
        <ion-refresher
            pulling-text="Pull to refresh..."
            on-refresh="doRefresh()">
        </ion-refresher>
        <!-- NOTE: This is temporary, and should reside in home.html when we're done testing -->
        <div class="stream" resize>
            <div ng-repeat="data in datas | limitTo: paginationLimit()" class="row">
                <div class="card" ng-if="!data.type">
                    <div ng-if="data.isOutbreak" class="item item-notice outbreak"><b>Outbreak</b></div>
                    <div ng-if="data.isWarning" class="item item-notice warning"><b>Travel Notice</b> - Warning Level 3</div>
                    <div ng-if="data.isWatch" class="item item-notice watch"><b>Travel Notice</b> - Watch Level 1</div>
                    <div ng-if="data.isAlert" class="item item-notice alert"><b>Travel Notice</b> - Alert Level 2</div>
                    <a ng-if="data.hasImage" class="item item-image" ng-href="{{data.url}}{{$index}}" ng-style="fullwidth()">
                        <img ng-src="{{data.imageSrc}}" err-src="img/image-placeholder.png" fullwidth>
                    </a>
                    <a class="item item-text-wrap item-body" ng-href="{{data.url}}{{$index}}">
                        <strong>{{data.name | words:10}}</strong>
                        <p class="date">{{data.datePublished}}</p>
                        <p>{{data.description | words:20}}</p>
                    </a>
                    <a class="item item-footer" ng-if="data.contentGroup" ng-href="{{data.home}}">
                        {{data.contentGroup}}
                    </a>
                </div>
                <div class="card social" ng-if="data.type == 'social'">
                    <a class="item item-thumbnail-right" ng-href="{{data.url}}">
                        <img ng-src="{{data.image}}">
                        <strong>{{data.name | words:8}}</strong>
                    </a>
                </div>
            </div>
        </div>
        <button class="button button-block button-positive cdc-blue selected border" ng-show="hasMoreItems()" ng-click="showMoreItems()" >
            Show more
        </button>
    </ion-content>
</ion-view>
