<div class="card" ng-if="!cardData.type">
    <div ng-if="cardData.isOutbreak" class="item item-notice outbreak"><b>Outbreak</b></div>
    <div ng-if="cardData.isWarning" class="item item-notice warning"><b>Travel Notice</b> - Warning Level 3</div>
    <div ng-if="cardData.isWatch" class="item item-notice watch"><b>Travel Notice</b> - Watch Level 1</div>
    <div ng-if="cardData.isAlert" class="item item-notice alert"><b>Travel Notice</b> - Alert Level 2</div>
    <a ng-if="cardData.hasImage" class="item item-image" ng-href="{{cardData.url}}{{cardData.id}}" data-ngdisabled-click="setState(cardData.appContentGroup,  cardData.id)">
        <img ng-src="{{cardData.imageSrc}}" err-src="img/image-placeholder.png"  style="max-width:100%;">
    </a>
    <a class="item item-text-wrap item-body" ng-href="{{cardData.url}}{{cardData.id}}">
        <strong>{{cardData.name | words:10}}</strong>
        <p class="date">{{cardData.datePublished}}</p>
        <p ng-bind-html="cardData.description | words:20"></p>
    </a>
    <a class="item item-footer" ng-if="cardData.contentGroup" ng-href="{{cardData.home}}"  data-ngngdisabled-click="setState(cardData.appContentGroup)">
        {{cardData.contentGroup}}
    </a>
</div>
<div class="card social" ng-if="cardData.type == 'social'">
    <a class="item item-thumbnail-right" ng-href="{{cardData.url}}">
        <img ng-src="{{cardData.image}}">
        <strong>{{cardData.name | words:8}}</strong>
    </a>
</div>
<a href="{{cardData.url}}/{{cardData.id}}" class="ng-enter-stagger" ng-if="cardData.type == 'image'"  data-ngngdisabled-click="setState(cardData.appContentGroup,  cardData.id)">
    <div class="item item-image" ng-style="halfwidth()">
        <img ng-src="{{cardData.imageSrc}}" class="horizontal" halfsize>
    </div>
</a>