<!-- TABLET PORTRAIT MODE -->
<div class="ui-tablet-portrait">

  <!-- THE LIST VIEW -->
  <div class="ui-list-view">
    <ion-scroll direction="x" class="horizontal-scroller stream">
      <div data-ng-include="streamTemplate(sourceMeta.templates.source, 'portrait')"></div>
    </ion-scroll>
  </div><!-- ui-list-view -->

  <!-- THE DETAIL VIEW -->
  <div class="ui-detail-view">
    <ui-detail data-source-meta="sourceMeta" data-detail-card="detailCard"></ui-detail>
  </div><!-- ui-detail-view -->

</div><!-- ui-tablet-portrait -->