<!-- PHONE UNIVERSAL (PORTRAIT & LANDSCAPE) MODE -->
<div ng-if="!containerLoading" class="ui-phone ui-home">

	<!-- THE LIST VIEW (IF NO DETAIL SELECTED) -->
	<div class="ui-list-view" data-ng-if="!sourceDetail">
		<ion-scroll direction="y" class="vertical-scroller stream">
			<ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh(true)"></ion-refresher>
			<ui-stream></ui-stream>
			<!-- <ion-infinite-scroll ng-if="hasMoreItems()" on-infinite="loadMore()" distance="10%"></ion-infinite-scroll> -->
	        <button class="button button-block button-positive cdc-blue selected border" ng-show="hasMoreItems()" ng-click="loadMore()" >
	            Show more
	        </button>
		</ion-scroll>
	</div><!-- .ui-list-view -->

	<!-- THE DETAIL VIEW (IF DETAIL SELECTED) -->
	<div class="ui-detail-view" data-ng-if="sourceDetail">
		<ui-detail data-source-meta="sourceMeta" data-detail-card="detailCard"></ui-detail>
	</div><!-- .ui-detail-view -->

</div><!-- .ui-iphone -->
