<ion-view>
	<ion-nav-title>CDC</ion-nav-title>
	<ion-content>
		<!-- TABLET LANDSCAPE MODE -->
		<div class="ui-default ui-tablet-landscape">

			<!-- THE LIST VIEW -->
			<div class="ui-list-view has-header"><div>
				<!-- STREAM VIEW -->
				<ion-scroll direction="y" class="vertical-scroller stream stream-vertical" delegate-handle="streamScrollVertical">
					<ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh(true)"></ion-refresher>
					<h3>{{sourceMeta.title}}</h3>
					<ui-stream></ui-stream>
					<!-- <ion-infinite-scroll ng-if="hasMoreItems()" on-infinite="loadMore()" distance="10%"></ion-infinite-scroll> -->
					<button class="button button-block button-positive cdc-blue selected border" ng-show="hasMoreItems('tabletLandscape')" ng-click="loadMore()" >
						Show more
					</button>
				</ion-scroll>
			</div></div><!-- ui-list-view -->

			<!-- THE DETAIL VIEW -->
			<div class="ui-detail-view"><div>
				<ui-detail data-source-meta="sourceMeta" data-detail-card="detailCard" data-app-state="appState"></ui-detail>
			</div></div><!-- ui-detail-view -->

		</div><!-- ui-tablet-landscape -->
	</ion-content>
</ion-view>