<ion-view>
	<ion-nav-title>CDC</ion-nav-title>
	<ion-content>

		<!-- TABLET PORTRAIT MODE -->
		<div class="ui-default ui-tablet-portrait has-list-header">

			<!-- THE LIST VIEW -->
			<div class="ui-list-view">
				<!-- STREAM VIEW -->
				<ion-scroll direction="x" class="horizontal-scroller stream" delegate-handle="streamScrollHorizontal">
					<ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh(true)"></ion-refresher>
					<ui-stream></ui-stream>
				</ion-scroll>
			</div><!-- ui-list-view -->

			<!-- THE DETAIL VIEW -->
			<div class="ui-detail-view">
				<ui-detail data-source-meta="sourceMeta" data-detail-card="detailCard" data-app-state="appState"></ui-detail>
			</div><!-- ui-detail-view -->

		</div><!-- ui-tablet-portrait -->
	</ion-content>
</ion-view>