TABLET PORTRAIT MODE  -->
<div class="ui-tablet-portrait">

	<!-- THE LIST VIEW -->
	<div class="ui-list-view">
		<h3>{{sourceMeta.title}} TEST </h3>
		<!-- STREAM VIEW -->
		<ion-scroll direction="x" class="horizontal-scroller stream">
			<ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh(true)"></ion-refresher>
			<ui-stream></ui-stream>
			<ion-infinite-scroll ng-if="hasMoreItems()" on-infinite="loadMore()" distance="10%"></ion-infinite-scroll>
		</ion-scroll>
	</div><!-- ui-list-view -->

	<!-- THE DETAIL VIEW -->
	<div class="ui-detail-view">
		<ui-detail data-source-meta="sourceMeta" data-detail-card="detailCard"></ui-detail>
	</div><!-- ui-detail-view -->

</div><!-- ui-tablet-portrait