<ion-view class="detail-video">
    <ion-nav-buttons side="right">
        <button alt="Heading Share Menu Button" class="button button-icon button-clear" ng-click="shareData()" ng-class="{'ion-android-share-alt': deviceinfo.isAndroid || deviceinfo.isAndroidTablet,'ion-ios-upload-outline': deviceinfo.isIOS || deviceinfo.isIPad}"></button>
    </ion-nav-buttons>
    <ion-content class="iframe-wrapper">
        <div class="video-paging">
            <span class="sourcename">*Videos*</span>
            <a alt="Next Button"class="button icon-right ion-chevron-right button-clear button-dark" ng-class="{'button-negative':!next.visible, 'button-dark':next.visible}" ng-disabled="!next.visible" href="#/app/YouTube/{{next.position}}">Next</a>
            <a alt="Previous Button" class="button icon-left ion-chevron-left button-clear button-dark" ng-class="{'button-negative':!previous.visible, 'button-dark':previous.visible}" ng-disabled="!previous.visible" href="#/app/YouTube/{{previous.position}}">Prev</a>
        </div>
        <div class="padding data civ video">
            <h1 class="title">{{detailData.name}}</h1>
            <div class="datepub">{{detailData.datePublished}}</div>
        </div>
        <div ng-if="detailData.sourceUrl">
            <iframe ng-src="{{getVideoUrl()}}" frameborder="0" allowfullscreen="true" data-split-by="1" data-reference="parent"></iframe>
        </div>
        <div class="padding data civ video">
            <p ng-bind-html="detailData.description"></p>
        </div>
        <div class="border">
            <p class="padding">
                <button alt="Footer Share Menu Button" class="button icon-right ion-share button-outline button-positive" ng-click="shareData()">Share</button>
            </p>
        </div>
    </ion-content>
</ion-view>
