<ion-view class="detail-data">
    <ion-nav-buttons side="right">
        <button alt="Heading Share Menu Button" class="button button-icon button-clear" ng-click="shareData()" ng-class="{'ion-android-share-alt': deviceinfo.isAndroid || deviceinfo.isAndroidTablet,'ion-ios-upload-outline': deviceinfo.isIOS || deviceinfo.isIPad}"></button>
    </ion-nav-buttons>
    <ion-content>
        <div class="padding data civ">
            <h1 class="title">{{detailData.name}}</h1>
            <div class="datepub">{{detailData.datePublished}}</div>
            <div class="source">{{detailData.name}}</div>
            <p class="contentarea" ng-bind-html="detailData.content"></p>
            <div class="border">
                <p class="padding">
                    <button alt="Footer Share Menu Button" class="button icon-right ion-share button-outline button-positive" ng-click="shareData()">Share</button>
                    <button alt="View on CDC.gov Button" ng-if="viewId === 'FastStat'" class="button icon-right ion-share button-outline button-positive" ng-click="viewOnCDC()">View on CDC.gov</button>
                </p>
            </div>
        </div>
    </ion-content>
</ion-view>
