<!-- HEADER BAR -->
<ion-nav-bar class="bar-positive" align-title="center" animation="no-animation">

    <ion-nav-buttons side="left">
        <a id="nav-menu" ng-if="global.appState.sourceName === 'mobileapphomestream'" alt="Settings Button" class="button button-clear" ui-sref="app.sources"><i class="icon ion-navicon"></i></a>
        <!-- <a ng-if="global.appState.sourceName !== 'mobileapphomestream' && (!global.appState.sourceDetail || !global.appState.sourceDetail.length)" alt="Home Button" class="button button-clear" ui-sref="app.sourceIndex({ sourceName : 'mobileapphomestream', sourceDetail : '' })"><i class="ion-arrow-left-c"></i> Back</a> -->
        <a id="back-button" ng-if="global.appState.sourceName !== 'mobileapphomestream'" alt="Back Button" class="button button-clear" ng-click="global.goBack()"> <i class="ion-arrow-left-c"></i> {{global.langLabels.nav.back}}</a>

        <!-- <a data-ng-if="global.appState.sourceName === 'mobileapphomestream'" alt="Settings Button" class="button button-clear" ui-sref="app.navigation"><i class="icon ion-navicon"></i></a> -->
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
        <a id="settings-menu" alt="Settings Button" class="button button-clear" ui-sref="app.settings"><i class="icon ion-gear-a"></i> {{global.langLabels.nav.settings}}</a>
    </ion-nav-buttons>
</ion-nav-bar>

<ion-nav-view name="appContent"></ion-nav-view>
<ion-nav-view name="appNavigation"></ion-nav-view>
