<div class="stream image-stream" resize>
	<div class="stream-row" ng-repeat="data in datas | limitTo: paginationLimit('imageTabletLandscape')" ng-if="$index % 2 === 0">
		<div class="card-container" data-split-by="2" data-set-ratio="145:100" data-reference="parent">
			<a href="{{url}}{{$index}}" ng-if="$index < datas.length">
				<div class="item item-image">
					<img ng-src="{{datas[$index].imageSrc}}" class="horizontal">
				</div>
			</a>
		</div>
		<div class="card-container" data-split-by="2" data-set-ratio="145:100" data-reference="parent">
			<a href="{{url}}{{$index + 1}}" ng-if="$index + 1 < datas.length">
				<div class="item item-image">
					<img ng-src="{{datas[$index + 1].imageSrc}}" class="horizontal">
				</div>
			</a>
		</div>
	</div>
</div>