<div class="stream stream-home stream-tablet stream-tablet-landscape">
	<div class="stream-row" ng-repeat="data in datas | limitTo: paginationLimit('tabletLandscape')" ng-if="$index % 3 === 0">
		<div class="card-container" data-split-by="3">
			<ui-card ng-if="$index < datas.length" data-card-data="data"></ui-card>
		</div><!-- card-container -->
		<div class="card-container" data-split-by="3">
			<ui-card ng-if="$index + 1 < datas.length" data-card-data="datas[$index + 1]"></ui-card>
		</div><!-- card-container -->
		<div class="card-container" data-split-by="3">
			<ui-card ng-if="$index + 2 < datas.length" data-card-data="datas[$index + 2]"></ui-card>
		</div><!-- card-container -->
	</div><!-- stream-row -->
</div><!--stream stream-tablet-->
<!-- id="card-{{cardData.id}}" -->