<ion-view>
    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-share" ng-click="shareData()"></button>
    </ion-nav-buttons>
    <ion-content class="has-header">
        <iframe width="100%" height="215" ng-if="data.sourceUrl" ng-src="{{getVideoUrl()}}" frameborder="0" allowfullscreen="true"></iframe>
        <div class="padding data civ">
            <div class="title">{{data.name}}</div>
            <div class="datepub">{{data.datePublished}}</div>
            <div class="source">Source: {{name}}</div>
            <p ng-bind-html="data.description"></p>
            <!-- <p><a href="{{transcript}}">Transcript</a></p> -->
            <a class="button icon-left ion-ios-arrow-back button-outline" ng-class="{'button-negative':!previous.visible, 'button-positive':previous.visible}" ng-disabled="!previous.visible" href="#/app/Podcast/{{previous.position}}">Previous</a>
            <a class="button icon-left ion-ios-arrow-forward button-outline" ng-class="{'button-negative':!next.visible, 'button-positive':next.visible}" ng-disabled="!next.visible" href="#/app/Podcast/{{next.position}}">Next</a>
            <p><button class="button icon-left ion-share button-outline button-positive" ng-click="shareData()">Share</button>
                <button class="button icon-left ion-share button-outline button-positive" ng-click="viewOnCDC()">View on CDC.gov</button>
            </p>
        </div>
    </ion-content>
</ion-view>
