<!-- PHONE UNIVERSAL (PORTRAIT & LANDSCAPE) MODE -->
<ion-view>
	<ion-content>
		<div class="ui-phone ui-iframe">

			<!-- THE LIST VIEW (IF NO DETAIL SELECTED) -->
			<div class="ui-list-view" data-ng-if="!global.appState.sourceDetail">
				<ion-scroll direction="y" class="vertical-scroller stream">
					<ion-refresher pulling-text="Pull to refresh..." on-refresh="global.doRefresh(true)"></ion-refresher>
					<h3>{{global.sourceMeta.title}}</h3>
					<ui-stream></ui-stream>
					<!-- <ion-infinite-scroll ng-if="hasMoreItems()" on-infinite="loadMore()" distance="10%"></ion-infinite-scroll> -->
					<button class="button button-block button-positive cdc-blue selected border" ng-show="global.hasMoreItems()" ng-click="global.loadMore()" >
						Show more
					</button>
				</ion-scroll>
			</div><!-- .ui-list-view -->

			<!-- THE DETAIL VIEW (IF DETAIL SELECTED) -->
			<div class="ui-detail-view" data-ng-if="global.appState.sourceDetail">
				<ui-detail data-source-meta="global.sourceMeta" data-detail-card="global.detailCard" data-app-state="global.appState"></ui-detail>
			</div><!-- .ui-detail-view -->

		</div><!-- .ui-iphone -->
	</ion-content>
</ion-view>