<!-- TABLET PORTRAIT MODE -->
<ion-view><ion-pane>
	<ion-content class="has-header">
		<div class="ui-images ui-tablet-portrait">

			<!-- THE LIST VIEW -->
			<div data-ng-if="!global.appState.sourceDetail" class="ui-list-view">
				<!-- STREAM VIEW -->
				<h3>{{global.sourceMeta.title}}</h3>
				<ion-scroll direction="y" class="horizontal-scroller stream" delegate-handle="streamScrollHorizontal">
					<ion-refresher pulling-text="Pull to refresh..." on-refresh="global.doRefresh(true)"></ion-refresher>
					<ui-stream></ui-stream>
				</ion-scroll>
			</div><!-- ui-list-view -->

			<!-- THE DETAIL VIEW -->
			<div data-ng-if="global.appState.sourceDetail" class="ui-detail-view">
				<ui-detail data-source-meta="global.sourceMeta" data-detail-card="global.detailCard" data-app-state="global.appState"></ui-detail>
			</div><!-- ui-detail-view -->

		</div><!-- ui-tablet-portrait -->
	</ion-content>
</ion-pane></ion-view>