<!-- PHONE UNIVERSAL (PORTRAIT & LANDSCAPE) MODE -->
<ion-view>

	<!-- STREAM VIEW -->
	<ion-pane data-ng-if="!global.appState.sourceDetail">
		<ion-content class="has-header">
			<div class="ui-default ui-phone">
				<div class="ui-list-view">
					<ion-scroll direction="y" class="vertical-scroller stream">
						<ion-refresher pulling-text="Pull to refresh..." on-refresh="global.doRefresh(true)"></ion-refresher>
						<h3>{{global.sourceMeta.title}}</h3>
						<ui-stream><!-- STREAM HANDLER --></ui-stream>
						<!-- <ion-infinite-scroll ng-if="hasMoreItems()" on-infinite="loadMore()" distance="10%"></ion-infinite-scroll> -->
						<button class="button button-block button-positive cdc-blue selected border" ng-show="global.hasMoreItems()" ng-click="global.loadMore()" >
							Show more
						</button>
					</ion-scroll>
				</div><!-- .ui-list-view -->
			</div><!-- .ui-iphone -->
		</ion-content>
	</ion-pane>

	<!-- THE DETAIL VIEW -->
	<ion-pane data-ng-if="global.appState.sourceDetail">
		<ion-content>
			<div class="ui-default ui-phone">
				<div class="ui-detail-view" >
					<ui-detail data-source-meta="global.sourceMeta" data-detail-card="global.detailCard" data-app-state="global.appState"><!-- UI DETAIL DIRECTIVE --></ui-detail>
				</div><!-- .ui-detail-view -->
			</div><!-- .ui-iphone -->
		</ion-content>
	</ion-pane>
</ion-view>