				<div class="card type-a">
					<div class="item item-image" ng-click="clickControl('{{stream.sourcetype}}')">
						<img src="{{stream.image}}">
					</div>
					<div class="item item-text-wrap item-body" ng-click="clickControl('{{stream.sourcetype}}')">
						<strong>A2: {{stream.title | words:10}}</strong>
						<p class="date">{{stream.date | amDateFormat:'MMMM Do, YYYY'}}</p>
					</div>
					<div class="item item-divider source">
						<a href="#app/source/{{stream.source}}">{{stream.source}}</a>
					</div>
				</div>