<div class="stream image-stream" resize>
	<div class="card-container" ng-repeat="card in global.datas | limitTo: global.paginationLimit('imageTabletLandscape')">
		<!-- <div class="card-container"> -->
			<!-- <a href="{{card.url}}{{card.id}}"> -->
				<!-- <div class="item item-image" style="background-image: url({{data.imageSrc}})"></div> -->
				<ui-stream-card data-template="ui-card-image"  data-card-data="card" data-app-state="global.appState"></ui-stream-card>
			<!-- </a> -->
		<!-- </div> -->
	</div>
</div>