<div class="stream image-stream">
	<div class="card-container" ng-repeat="card in datas | limitTo: paginationLimit()">
		<ui-stream-card data-template="ui-card-image"  data-card-data="card" data-app-state="global.appState"></ui-stream-card>
		<!--
		<div class="card-container" data-split-by="2" data-set-ratio="16:9" data-reference="parent">
			<a href="{{data.url}}{{data.id}}" ng-if="$index < datas.length">
				<div class="item item-image" ng-style="halfwidth()">
					<img ng-src="{{datas[$index].imageSrc}}" class="horizontal">
				</div>
			</a>
		</div>
		<div class="card-container" data-split-by="2" data-set-ratio="16:9" data-reference="parent">
			<a href="{{datas[$index + 1].url}}{{datas[$index + 1].id}}" ng-if="$index + 1 < datas.length">
				<div class="item item-image" ng-style="halfwidth()">
					<img ng-src="{{datas[$index + 1].imageSrc}}" class="horizontal">
				</div>
			</a>
		</div>
		-->
	</div>
</div>