<ion-view class="detail-fact">
    <ion-nav-buttons side="right">
        <button alt="Heading Share Menu Button" class="button button-icon button-clear" ng-click="Share.share()" ng-class="{'ion-android-share-alt': deviceinfo.isAndroid || deviceinfo.isAndroidTablet,'ion-ios-upload-outline': deviceinfo.isIOS || deviceinfo.isIPad}"></button>
    </ion-nav-buttons>
    <ion-content>
        <div class="padding data fact civ">
            <h1 class="title">{{detailCard.name}}</h1>
            <div class="datepub">{{detailCard.datePublished}}</div>
            <p class="contentarea" push-html="::detailData.content" managecontent></p>
            <div class="border">
                <p class="padding">
                    <button alt="Footer Share Menu Button" class="button icon-right ion-share button-outline button-positive" ng-click="Share.share()">Share</button>
                    <button alt="View on CDC.gov Button" class="button icon-right ion-share button-outline button-positive" ng-click="openLink(detailData.sourceUrl, 'html')">View on CDC.gov</button>
                </p>
            </div>
        </div>
    </ion-content>
</ion-view>
