<ion-view class="detail-audio">
    <ion-content>
        <div class="padding data civ audio">
            <h1 class="title">{{detailData.name}}</h1>
            <div class="datepub">{{detailCard.datePublished}}</div>
            <div class="source">{{detailCard.streamTitle}}</div>
            <audio controls>
                <source src="{{detailData.audioSrc}}" type="{{detailData.audioType}}">
            </audio>
            <p push-html="::detailData.description"></p>
            <!-- <table>
                <tr data-ng-repeat="(key, data) in detailData">
                    <td>{{key}}</td>
                    <td>{{data}}</td>
                </tr>
            </table> -->
            <div class="border">
                <p class="padding">
                    <button alt="View Transcript" class="button icon-right ion-ios-book button-outline button-positive" ng-click="openLink(detailData.pdfSrc, detailData.pdfType)">Transcript</button>
                    <button alt="Footer Share Menu Button" class="button icon-right ion-share button-outline button-positive" ng-click="Share.share()">Share</button>
                    <button alt="View on CDC.gov Button" class="button icon-right ion-share button-outline button-positive" ng-click="openLink(detailData.sourceUrl, 'html')">View on CDC.gov</button>
                </p>
            </div>
        </div>

    </ion-content>
</ion-view>
