<ion-view class="detail-journals">
    <ion-content class="has-header has-footer">
        <div class="padding data journal civ">
            <div class="datepub">{{detailCard.datePublished}}</div>
            <div class="source">{{detailCard.streamTitle}}</div>
            <div id="contentarea" push-html="::detailData.content"></div>
        </div>
    </ion-content>
    <ion-footer-bar align-title="left">
        <div class="buttons">
            <button alt="Footer Share Menu Button" class="button icon-right ion-share button-outline button-positive" ng-click="Share.share()">Share</button>
            <button alt="View on CDC.gov Button" class="button icon-right ion-share button-outline button-positive" ng-click="openLink(detailData.sourceUrl, 'html')">View on CDC.gov</button>
        </div>
    </ion-footer-bar>
</ion-view>