<ion-view class="detail-images">
    <ion-nav-buttons side="right">
        <button alt="Heading Share Menu Button" class="button button-icon button-clear" ng-click="Share.share()" ng-class="{'ion-android-share-alt': deviceinfo.isAndroid || deviceinfo.isAndroidTablet,'ion-ios-upload-outline': deviceinfo.isIOS || deviceinfo.isIPad}"></button>
    </ion-nav-buttons>
    <ion-content>
        <h1 class="padding">{{detailData.topic || detailData.streamTitle}}</h1>
        <!-- <div class="paging">
            <a alt="Next Button" class="button icon-right ion-chevron-right button-clear button-dark" ng-class="{'button-negative':!next.visible, 'button-dark':next.visible}" ng-disabled="!next.visible" href="#/app/PHIL/{{next.position}}">Next</a>
            <a alt="Previous Button" class="button icon-left ion-chevron-left button-clear button-dark" ng-class="{'button-negative':!previous.visible, 'button-dark':previous.visible}" ng-disabled="!previous.visible" href="#/app/PHIL/{{previous.position}}">Prev</a>
        </div> -->
        <div class="padding data civ image">
            <div class="item-image" style="background-image:url({{detailData.imageSrc}})"></div>
            <div class="datepub">{{detailData.datePublished}}</div>
            <p push-html="::detailData.description"></p>
            <div class="top-border">
                <p class="padding">
                    <button alt="Footer Share Menu Button" class="button icon-right ion-share button-outline button-positive" ng-click="Share.share()">Share</button>
                    <button alt="View on CDC.gov Button" class="button icon-right ion-share button-outline button-positive" ng-click="openLink(detailData.sourceUrl, 'html')">View on CDC.gov</button>
                </p>
            </div>
        </div>
        <!-- <div>DETAIL DATA {{detailData.name}}</div> -->
        <!-- <div>DETAIL DATA {{detailData}}</div> -->
        <!--<ui-dump data-variable="{{detailData}}"></ui-dump>-->
        <!-- <div ng-repeat="key in detailData">{{key}}</div> -->
    </ion-content>
</ion-view>
