<ion-view class="detail-images">
	<ion-content class="has-header has-footer">
		<h1 class="padding">{{detailData.topic || detailData.streamTitle}}</h1>
		<div class="padding data civ image">
			<div data-ng-if="!loading" class="item-image" style="background-image:url({{detailData.imageSrc}})"></div>
			<div class="datepub">{{detailData.datePublished}}</div>
			<p push-html="::detailData.description"></p>
		</div>
	</ion-content>
	<ion-footer-bar align-title="left">
		<div class="buttons">
			<button alt="Footer Share Menu Button" class="button icon-right ion-share button-outline button-positive" ng-click="Share.share()">Share</button>
			<button alt="View on CDC.gov Button" class="button icon-right ion-share button-outline button-positive" ng-click="openLink(detailData.sourceUrl, 'html')">View on CDC.gov</button>
		</div>
	</ion-footer-bar>
</ion-view>
