/**
 * NOTE: Platform specific styles are kept in /merges/PLATFORM/css/platform.css
 */


/* Fonts */
@font-face {
    font-family: "Roboto";
    src: url("../font/Roboto-Regular.ttf");
}

@font-face {
    font-family: "Roboto";
    src: url("../font/Roboto-Italic.ttf");
    font-style:italic;
}

@font-face {
    font-family: "Roboto";
    src: url("../font/Roboto-Light.ttf");
    font-weight: 300;
}

@font-face {
    font-family: "Roboto";
    src: url("../font/Roboto-LightItalic.ttf");
    font-weight: 300;
    font-style:italic;
}

@font-face {
    font-family: "Roboto";
    src: url("../font/Roboto-Bold.ttf");
    font-weight: 600;
}

@font-face {
    font-family: "Roboto";
    src: url("../font/Roboto-BoldItalic.ttf");
    font-weight: 600;
    font-style:italic;
}

body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, .button, input, textarea { font-family: 'Roboto', sans-serif; color:#303030; }

/* ... */
i, cite, em, var, address, dfn {
    font-style: italic;
}

.list i {
    font-size: 24px;
}

/* useful */
body.platform-ios {}
body.platform-ipad {}
body.platform-android {}
body.platform-windowsphone {}

/*
.iframe-holder {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  top: 0;
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
}
.iframe-holder {
  height: 750px;
 -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
}
.iframe-holder iframe {
  height: 100%;
  width: 100%;
}
.iframe-issue {
  -webkit-overflow-scrolling: touch !important;
  overflow: scroll !important;
}
*/
/*
colors
 */

.cdc-blue.primary {
    background-color: #b1dafb
}
.cdc-blue.primary.border {
    border-color: #b1dafb
}

.cdc-blue.secondary {
    background-color: #e3f2fe;
}
.cdc-blue.secondary.border {
    border-color: #e3f2fe
}

.cdc-blue.selected {
    background-color: #075290;
}
.cdc-blue.selected.border {
    border-color: #075290
}

.border .padding {
    /*float:right;*/
    padding-right: 0;
}

.border .padding button:first-child {
    margin-right:10px;
}

.border {
    margin-top: 15px;
    border-top: 1px solid #e0e0e0;
}

.scroll {
    /*border-bottom: 5px solid #075290;*/
}

.button.button-positive.activated {
    background-color:#075290;
}
.button.button-positive.button-clear {
    color: #075290;
}
.button.button-positive.button-outline {
    border-color: #075290;
    color: #075290;
}
.button.button-positive.button-outline.active,
.button.button-positive.button-outline.activated {
    background-color: #075290;
}


.civ.image img {
    width: 100%;
}

/*
.disabled.image-stream .ng-enter-stagger {
  -webkit-animation-delay:100ms;
  animation-delay:100ms;

  -webkit-animation-duration:0;
  animation-duration:0;
}

.disabled.image-stream .ng-enter {
    -webkit-animation: fadeInLeft 1s;
    animation: fadeInLeft 1s;
}

.disabled.stream .ng-enter-stagger {
  -webkit-animation-delay:100ms;
  animation-delay:100ms;

  -webkit-animation-duration:0;
  animation-duration:0;
}
.stream .ng-enter {
    -webkit-animation: fadeInUp 1s;
    animation: fadeInUp 1s;
}
*/

.content-stable {
    background-color: #f8f8f8;
    /*background: url(/img/card-placeholder.png)*/
}

/**
 * Images
 */

/* make CIV of PHIL = 100% */

.item-image {
    overflow: hidden;
    background-position: center;
    background-size: cover;
}

.item-image {
    margin: 3px;
    text-align: center;
    padding: 0;
    border: 0;
}

/*.image-stream .item-image {
    overflow:hidden;
    background-position: center;
    background-size: cover;
}*/

.settings .list {
    margin-bottom: 0;
}

/**
 * iframe
 */
/*iframe:not(src*="youtube") {
    width: 100%; min-height: 100%
}*/

.iframe-wrapper iframe {
   width: 100%;
   height: 100%;
 }

/*http://stackoverflow.com/questions/23533646/content-within-an-iframe-in-ios-7-mobile-keeps-scrolling-to-top-always*/
/*https://github.com/kbwood/countdown/issues/50*/
.iframe-wrapper {
    /*-webkit-overflow-scrolling: touch!important;*/
    overflow-y: scroll!important;
}

/**
 * random
 */


.top-border {
    border-top: 1px solid #e0e0e0;
}
.bottom-border {
    float:right;
}

.bar .title {
    font-size: 24px;
}

/* content area adjustments */
/*p.contentarea img {
    float: left;
    margin:0 10px 10px 0;
    clear: right;
}*/

/*.scroll-content {
    overflow: visible;
}

.padding {
    outline:1px solid red;
}*/

/* stream */

.paging {
    margin-bottom: 10px;
    border-bottom: 1px solid #e0e0e0;
    background:#fff;
    float: left;
    width: 100%;
}

.paging a {
    float: right;
}

.video-paging {
    border-bottom: 1px solid #e0e0e0;
    background:#fff;
    float: left;
    width: 100%;
}
.video-paging a {
    float: right;
}

.stream > h3 {
margin-bottom: -10px;
    border-bottom: 1px solid #e0e0e0;
    margin-left: 15px;
    margin-right: 15px;
    padding-left: 0;
    padding-right: 0;
}

.padding.heading {
    margin-bottom: 0;
    border-bottom: 1px solid #e0e0e0;
    background:#fff;
}

.settings .list {
    margin-bottom: 0;
}

.stream .row + .row {
    margin-top: -30px;
    padding-top: 0;
}

/* cards are roughly square. The background image is 300x300 by default
    TODO: detect screen width, apply height to cards so background image appears
*/
.stream .row .card {
    width: 100%;
    box-shadow: none;
    border:1px solid #e0e0e0;
    padding-top: 0!important;
/*    height: 300px;
    background: url(/img/placeholder.png) no-repeat;
    background-size: 100%;*/
}

a.item.item-footer {
    padding: 4px 16px 0;
    border-top: 0;
    margin-top:16px;
}

.card.col.home, .card.col.home .item-note { text-align: center; float:none; }

/*.card { margin:7.5px 10px 7.5px; position:relative;}*/

.card.social {}
.card.social a {
    margin: 0!important;
    top: 0!important;
    min-height: 60px!important;
    padding: 0;
}
.card.social a strong{
    line-height: 60px;
    margin-left: 15px;
}
.card.social a > img:first-child {
    max-width: 40px;
    max-height: 40px;
    top: 10px;
    right: 10px;
}

.source a {
    color:#444;
    font-size: 14px;
}

.card .item .date {
    color:#c0c0c0;
    font-size: 14px;
    margin:0;
}

.card .item strong {
    color:#444;
}

/* not working */
.card p:first-letter, .card strong:first-letter {
    text-transform: capitalize!important;
}

.item-body p {
    margin-top: 6px;
    font-size: 16px;
}

.item-footer {
    font-size: 14px;
    color: #075290!important;
}

.card .item:last-child, .list-inset .item:last-child {
    top: -10px;
}

.card.type-c, .card.type-e {
    min-height: 100px;
}

.sourcestream .source {
    display: none;
}

/*.item p:last-child*/
.card .item .source {
    font-size: 14px;
    /*margin-top: 0;*/
    /*position: absolute;
    bottom: 5px;*/
}
.item-divider {
/*  padding-top: 8px;
    padding-bottom: 8px;
    min-height: 30px;
*/  background-color: inherit;
/*  color: #222;
    font-weight: 500;
*/}


.card .item.item-text-wrap.item-body {
    border-bottom: 0;
}

.card .item:first-child {
    border-bottom: 0;
    margin: 0;
/*    margin-top: -3px;
    margin-left: -1px;*/
}


/*
popover
 */
#popper {
    position: fixed!important;
    top: 50px!important;
    left: 6px!important;
    height: 160px!important;
    /*width: 200px!important;*/
    padding:16px;
    background: #e3f2fe;
}
body.platform-ios #popper {
    height: 180px!important;
}
#popper p {
    padding: 16px;
}

#popper a {
    display: inline-block;
    width: 50%;
    background: #075290;
    text-align: center;
    color: #fff;
    padding: 5px;
}

#popper div.popover-arrow {
    left: 0!important;
}

#popper #popbut {
    text-align: center;
}

.card .item a {
  text-decoration: none;
}

.detail-images h1 {
  font-size: 26px;
  margin-bottom: 0;
  padding-bottom: 0;
}

.video-paging span {
    font-size: 26px;
    margin-top: 13px;
    display: inline-block;
    margin-left: 10px;
}

/* keep the card background from turning gray when tapped */
.card .item.activated {
    background-color:#fff!important;
}

.nav-bar-block .bar, .menu-left .bar {
    background-color:#075290!important;
    border-color: #e3f2fe;
}

ion-side-menu h4 {
    color:#303030;
    margin:0;
    padding:10px;
    padding-left:14px;
}

/* hiding first heading in content area */
/*.contentarea h1:first-child,
.contentarea .h1:first-child,
.contentarea h2:first-child,
.contentarea .h2:first-child,
.contentarea h3:first-child,
.contentarea .h3:first-child {
    display:none;
}*/

/*
    hiding content
 */

/*.civ table,
.civ table + .caption,
.civ .civ [class*="onthis"], .civ [id*="onthis"],
.civ a[href="#"],
.civ a[href^="#"],
.civ .figure, .civ .figure-story,
.civ .table, .civ .table-story,
.civ .box-frieden,
.civ [class*="table"], .civ [id*="table"],
.civ [class*="figure"], .civ [id*="figure"],
.civ [class*="comments"], .civ [id*="comments"],
.civ .cat-links, .civ .tags-links,
.civ hr {
    display:none!important;
}*/

/*
side menu wrap
*/

ion-side-menu.menu.menu-left .item-content {
    overflow: visible;
    white-space: normal;
}


/*
    travel notices/outbreaks
 */
.item-notice {
    margin-top: -1px!important;
    padding-left: 15px;
}

.item-notice a {
  color: #444;
}
.item-notice.outbreak {
    background: #e1b8b8;
    border-top: 2px solid #ce2029!important;
}

.item-notice.alert {
    background: #fbd69a;
    border-top: 2px solid #fcb514!important;
}

.item-notice.warning {
    background: #e1b8b8;
    border-top: 2px solid #ce2029!important;
}

.item-notice.watch {
    background: #d7e4cc;
    border-top: 2px solid #77933c!important;
}

/* LIST VIEWS FOR PHONE, TABLET LANDSCAPE, TABLET PORTRAIT */
.ui-phone .ui-list-view,
.ui-tablet-landscape .ui-list-view,
.ui-tablet-portrait .ui-list-view {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #f8f8f8;
}
.ui-phone .ui-list-view {
  top: 44px;
  width: 100%;
}
.ui-tablet-landscape .ui-list-view {
    width: 300px;
    top: 44px;
}

.ui-tablet-portrait .ui-list-view {
  height: 300px;
  top: 44px;
}
.ui-tablet-portrait.has-list-header .ui-list-view {
  height: 340px;
}

.ui-list-view .horizontal-scroller,
.ui-list-view .vertical-scroller {
  overflow: scroll;
  white-space: nowrap;
}
.ui-list-view .vertical-scroller {
  width: 100%;
}
.ui-tablet-landscape .ui-list-view .vertical-scroller {
  width: 300px;
}
.ui-list-view .horizontal-scroller {
  height: 300px;
}

/* Could have styles the H#, but needed explicit handle for the H4 for JS, so uging the class to style as well */
.ui-list-view .scroll-header,
.ui-detail-view .content-header {
  height: 40px;
}
.ui-list-view h3,
.ui-detail-view h3 {
  margin: 8px;
  white-space: normal;
}

/* STREAM VIEWS */
/*
.ui-tablet-portrait .stream-standard {
  height: 300px;
}
*/

/* CARD CONTAINERS */
.card-container {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: hidden;
}

.ui-tablet-portrait .ui-list-view .card-container {
  width: 300px;
  min-width: 300px;
  /*height: 300px;*/
  min-height: 300px;
}
.ui-default.ui-tablet-portrait .ui-list-view .card-container {
  /*max-width: 300px;*/
  /*max-height: 300px;*/
  overflow: hidden;
}
.stream-row {
  font-size: 0; /* CSS FIX: https://css-tricks.com/fighting-the-space-between-inline-block-elements/ */
}
.stream-row .card-container {
    display: -webkit-flex;
    display: inline-block;
    vertical-align: top;
}
.ui-default .card-container .card-container-pad {
  -webkit-mask-image: -webkit-gradient(linear, left 90%, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
}


/* HOME OVERLOADS */
.ui-home .stream-row {
    overflow: visible;
}
.ui-home.ui-tablet-portrait .ui-list-view,
.ui-home.ui-tablet-landscape .ui-list-view {
    top: 0;
    width: 100%;
}
.ui-home.ui-tablet-landscape .ui-list-view .vertical-scroller {
  width: 100%;
}

/* DETAIL VIEW */
.ui-phone .ui-detail-view {
  position: absolute;
  top: 44px;
  right: 0;
  bottom: 0;
  left: 0;
}
.ui-tablet-landscape .ui-detail-view {
    position: absolute;
    top: 44px;
    right: 0;
    bottom: 0;
    left: 300px;
}
.ui-tablet-portrait .ui-detail-view {
  position: absolute;
  top: 344px;
  right: 0;
  bottom: 0;
  left: 0;
}

.ui-tablet-portrait.has-list-header .ui-detail-view {
  top: 384px;
}

.ui-tablet-portrait.ui-iframe .ui-detail-view {
  top: 44px;
  left: 0;
  right: 0;
  bottom: 0;
}

.card-container .card {
  padding: 0;
  margin: 0;
}

/* CARD CONTAINER CARD DEFAULTS */
.card-container .card-container-pad {
  padding: 0 10px 10px 10px;
}
.card-container .card-container-pad .card {
  width: 100%;
}

/* STREAM SPECIFIC CARD CONTAINER CARDS */
.ui-tablet-landscape .card-container .card-container-pad,
.ui-tablet-portrait .card-container .card-container-pad {
  padding: 0 5px 10px 5px;
}

.stream-home .card {
  min-height: 325px;
  overflow: auto;
}

/* PHONE SCROLLER */
.ui-phone .has-header {
    top: 0;
}

.ui-phone .ui-list-view .card {
  display: block;
  width: 100%;
  margin: 0;
  white-space: normal;
}

.ui-phone .ui-list-view .card img {
  max-width: 100%;
}

/* LANDSCAPE VERTICAL SCROLLER
.card-container .card {
    display: block;
    white-space: normal;
}

.ui-tablet-landscape .card-container .card {
    display: block;
    max-height: 300px;
    width: 100%;
    white-space: normal;
}

.ui-tablet-landscape .card-container .card img {
    max-width: 100%;
} */

/* IMAGE STREAM, CARDS, ETC */

.ui-images.ui-tablet-portrait .ui-list-view .horizontal-scroller,
.ui-images.ui-tablet-portrait .ui-list-view {
  height: 185px;
}
.ui-images.ui-tablet-portrait .ui-list-view .card-container {
  /*width: 225px;*/
  /*height: 185px;*/
}
.ui-images.ui-tablet-portrait .ui-detail-view{
  top: 200px;
}
.ui-images.ui-tablet-portrait.has-list-header .ui-detail-view {
  top: 274px;
}

.stream-row .card.image-card {
  height: 180px;
  overflow: hidden;
}
.stream-row .card.image-card img {
  width: 100%;
  max-width: 100%;
}

/* IONIC SCOLL CSS FIX
ion-scroll[direction=x] {
  width: 100vw;
}
ion-scroll[direction=y] {
  height: 100vh;
}
*/

/* !!! V2 STYLES !!! */

/* HOME CARDS */
/* PHONE (PORTRAIT ONLY)*/
.ui-home.ui-phone .ui-list-view .card-container {
  width: 100vw;
}
.ui-home.ui-phone .ui-list-view .card-container .card {
  height: 120vw;
}
.ui-home.ui-phone .ui-list-view .card-container .card .item-image {
  width: 100vw;
  height: 56vw;
}
/* TABLE PORTRAIT */
.ui-home.ui-tablet-portrait .ui-list-view .card-container {
  width: 50vw;
}
.ui-home.ui-tablet-portrait .ui-list-view .card-container .card {
  height: 60vw;
}
.ui-home.ui-tablet-portrait .ui-list-view .card-container .card .item-image {
  width: 50vw;
  height: 28vw;
}
/* TABLE LANDSCAPE */
.ui-home.ui-tablet-landscape .ui-list-view .card-container {
  width: 33.33vw;
}
.ui-home.ui-tablet-landscape .ui-list-view .card-container .card {
  height: 39.66vw;
}
.ui-home.ui-tablet-landscape .ui-list-view .card-container .card .item-image {
  width: 33.33vw;
  height: 18.55vw;
}

/* CARD DEFAULTS */
.ui-tablet-landscape .ui-list-view .card-container {
  width: 29vw;
}
.ui-tablet-landscape .ui-list-view .card-container .card {
  height: 34.8vw;
}
.ui-tablet-landscape .ui-list-view .card-container .card .item-image {
  width: 29vw;
  height: 16.3vw;
}

/*
.ui-tablet-landscape .ui-list-view .card-container .card .item-image {
  height: 21vw;
  width: 11.25vw;
}
*/

/* TEST */
.stream-home .card-container {
  float: left;
}
