/* NOTE: Platform specific styles are kept in /merges/PLATFORM/css/platform.css */

.content-stable {
    background-color: #f8f8f8;
}

/**
 * Images
 */

.settings .list {
    margin-bottom: 0;
}

/* IFRAME */

.iframe-wrapper iframe {
   width: 100%;
   height: 100%;
 }

/*http://stackoverflow.com/questions/23533646/content-within-an-iframe-in-ios-7-mobile-keeps-scrolling-to-top-always*/
/*https://github.com/kbwood/countdown/issues/50*/
.iframe-wrapper {
    /*-webkit-overflow-scrolling: touch!important;*/
    overflow-y: scroll!important;
}


.top-border {
    border-top: 1px solid #e0e0e0;
}
.bottom-border {
    float:right;
}

.bar .title {
    font-size: 24px;
}

.paging {
    margin-bottom: 10px;
    border-bottom: 1px solid #e0e0e0;
    background:#fff;
    float: left;
    width: 100%;
}

.paging a {
    float: right;
}

.video-paging {
    border-bottom: 1px solid #e0e0e0;
    background:#fff;
    float: left;
    width: 100%;
}
.video-paging a {
    float: right;
}

.stream > h3 {
margin-bottom: -10px;
    border-bottom: 1px solid #e0e0e0;
    margin-left: 15px;
    margin-right: 15px;
    padding-left: 0;
    padding-right: 0;
}

.padding.heading {
    margin-bottom: 0;
    border-bottom: 1px solid #e0e0e0;
    background:#fff;
}

.settings .list {
    margin-bottom: 0;
}

.stream .row + .row {
    margin-top: -30px;
    padding-top: 0;
}

/* cards are roughly square. The background image is 300x300 by default
    TODO: detect screen width, apply height to cards so background image appears
*/
.stream .row .card {
    width: 100%;
    box-shadow: none;
    border:1px solid #e0e0e0;
    padding-top: 0!important;
}

a.item.item-footer {
    padding: 4px 16px 0;
    border-top: 0;
    margin-top:16px;
}

.card.col.home, .card.col.home .item-note { text-align: center; float:none; }

/*.card { margin:7.5px 10px 7.5px; position:relative;}*/

.card.social {}
.card.social a {
    margin: 0!important;
    top: 0!important;
    min-height: 60px!important;
    padding: 0;
}
.card.social a strong{
    line-height: 60px;
    margin-left: 15px;
}
.card.social a > img:first-child {
    max-width: 40px;
    max-height: 40px;
    top: 10px;
    right: 10px;
}

.source a {
    color:#444;
    font-size: 14px;
}

.card .item .date {
    color:#c0c0c0;
    font-size: 14px;
    margin:0;
}

.card .item strong {
    color:#444;
}

/* not working */
.card p:first-letter, .card strong:first-letter {
    text-transform: capitalize!important;
}

.item-body p {
    margin-top: 6px;
    font-size: 16px;
}

.item-footer,
.item-footer a {
    font-size: 14px;
}

.item-footer a {
  color: #075290!important;
}

.card .item:last-child, .list-inset .item:last-child {
    /*top: -10px;*/
}

.card.type-c, .card.type-e {
    min-height: 100px;
}

.sourcestream .source {
    display: none;
}

/*.item p:last-child*/
.card .item .source {
    font-size: 14px;
    /*margin-top: 0;*/
    /*position: absolute;
    bottom: 5px;*/
}
.item-divider {
/*  padding-top: 8px;
    padding-bottom: 8px;
    min-height: 30px;
*/  background-color: inherit;
/*  color: #222;
    font-weight: 500;
*/}

.card .item.item-text-wrap.item-body {
    border-bottom: 0;
}

.card .item:first-child {
    border-bottom: 0;
    margin: 0;
/*    margin-top: -3px;
    margin-left: -1px;*/
}

.card {
  position: relative;
}

.card .item-footer {
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 10px;
  -webkit-box-shadow: 0px -10px 10px rgba(255, 255, 255, 0.75);
  -moz-box-shadow:    0px -10px 10px rgba(255, 255, 255, 0.75);
  box-shadow:         0px -10px 10px rgba(255, 255, 255, 0.75);
}


/*
popover
 */
#popper {
    position: fixed!important;
    top: 50px!important;
    left: 6px!important;
    height: 160px!important;
    /*width: 200px!important;*/
    padding:16px;
    background: #e3f2fe;
}
body.platform-ios #popper {
    height: 180px!important;
}
#popper p {
    padding: 16px;
}

#popper a {
    display: inline-block;
    width: 50%;
    background: #075290;
    text-align: center;
    color: #fff;
    padding: 5px;
}

#popper div.popover-arrow {
    left: 0!important;
}

#popper #popbut {
    text-align: center;
}

.card .item a {
  text-decoration: none;
}

.detail-images h1 {
  font-size: 26px;
  margin-bottom: 0;
  padding-bottom: 0;
}

.video-paging span {
    font-size: 26px;
    margin-top: 13px;
    display: inline-block;
    margin-left: 10px;
}

/* keep the card background from turning gray when tapped */
.card .item.activated {
    background-color:#fff!important;
}

.nav-bar-block .bar, .menu-left .bar,
.bar.bar-positive,
.bar-positive .button {
    background-color:#075290!important;
    border-color: #075290;
}

ion-side-menu h4 {
    color:#303030;
    margin:0;
    padding:10px;
    padding-left:14px;
}

.card {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: 1px solid #E0E0E0;
}
.card.card-active {
  border: 3px solid #075290!important;;
}

/* CARD CONTAINERS */
.card-container {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: hidden;
}

.card-container .card {
  padding: 0;
  margin: 0;
}

/* CARD CONTAINER CARD DEFAULTS */
.card-container .card-container-pad {
  padding: 0 10px 10px 10px;
}
.card-container .card-container-pad .card {
  width: 100%;
}

/* STREAM SPECIFIC CARD CONTAINER CARDS */
.ui-tablet-landscape .card-container .card-container-pad,
.ui-tablet-portrait .card-container .card-container-pad {
  padding: 0 5px 10px 5px;
}

.ui-phone .ui-list-view .card {
  display: block;
  width: 100%;
  margin: 0;
  white-space: normal;
}

.ui-phone .ui-list-view .card img {
  max-width: 100%;
}

.bar.bar-footer .button {
  margin-right: 5px;
}