/*
#DotwView,
#HealthArticlesView,
#CDCAtwsView,
#VitalSignsView,
#VitalSign,
#FastStatsView,
#FastStat,
#WeeklyDiseaseCaseCountsView,
#WeeklyDiseaseCaseCount,
#EIDsView,
#EID,
#MMWRsView,
#PCDsView,
#PDC,
#NewsroomsView,
#Newsroom,
#OutbreaksView,
#Outbreak,
#TravelNoticesView,
#TravelNotice,
#PodcastsView,
#Podcast,
#PHILsView,
#PHIL,
#PHMblogsView,
#PHM,
#DirectorsBlogsView,
#DirectorsBlog,
#DirectorsBlog,
#DidYouKnow,
#FactoftheWeekView,
#YouTubesView,
*/
/* CONTENT AREA GENERAL */

.contentarea .row {
    display: block;
    padding: 10px 0;
    clear: left;
    float: left;
}
.contentarea .padding .title {
    font-size: 24px;
}
.contentarea .item-body {
    padding-bottom: 0;
}
.contentarea .pull-left {
    float: left;
}
.contentarea .right,
.contentarea .pull-right {
    float: right;
}
.contentarea img {
    float: left;
    max-width: 100%;
    width: auto !important;
    height: auto !important;
}
.contentarea a strong {
    font-weight: normal;
}
.contentarea .module-typeG,
.contentarea .emailupdates {
    display: none!important;
}
.ui-phone {}
.ui-tablet-landscape {}
.ui-tablet-portrait {}

.ui-phone .contentarea img {
    margin: 10px 10px 10px 0;
}
.ui-tablet-landscape .contentarea img {
    margin: 10px;
}
.ui-tablet-portrait .contentarea img {
    margin: 10px;
}
.contentarea p {
    line-height: normal;
}
.contentarea .toTop {
    display: none;
}
.contentarea .row [class*="span"] {
    display: block;
    float: none;
    padding: 0;
}

.contentarea .onThisPageAnchor {
    display:none;
}

.contentarea .stat-wrapper + h2,
.contentarea .stat-wrapper + h2 + ul {
    display:none;
}

.journal .contentarea {
    margin-top: 10px;
}

.journal .contentarea .table-story,
.journal .contentarea .table-story + br,
.journal .contentarea .figure-story,
.journal .contentarea .figure-story + br {
    display:none;
}

.contentarea a[href$='.xml'] {
    display:none;
}

.superscript {
    vertical-align: super;
    font-size: smaller;
}

.fact .contentarea .rx-row:first-of-type, .fact .contentarea h3 {
    display:none;
}

/* CONTENT AREA RESPONSIVE */
@media only screen and (max-width: 320px) {
    .contentarea .row img {
        margin: 0;
        display: block;
    }
}

/* VIEW TYPE SPECIFIC AREAS */
.article .contentarea img:first-of-type {
    /*display: none;*/
}

/* VIEW SPECIFIC CONTENT AREAS */
.journal .contentarea h1:first-of-type,
.detail-fact .contentarea h1:first-of-type {
    display: none;
}

/* FACT STYLES */
.detail-fact .contentarea p {
    display: block;
    padding-bottom: 10px;
}
.detail-fact .contentarea p {
    display: block;
    padding-bottom: 10px;
}

/* FACT - HIDE FIRST IMAGE */
.detail-fact .syndicate > div:first-of-type > p > img {
    display: none;
}
.tabs,
.toTop {
    display: none;
}
.contentarea a,
.article .source {
    color: #075290;
}
.article .contentarea h1 {
    display: none;
}
.article .source,
.article .datepub,
.civ {
    font-size: 16px;
}
.civ h1 {
    font-size: 26px;
}
.civ h2 {
    font-size: 24px;
}
.civ h3 {
    font-size: 22px;
}
.civ h4 {
    font-size: 20px;
}
.civ h5 {
    font-size: 18px;
}
.civ h6 {
    font-size: 16px;
    font-weight: bold;
}
.civ ol,
.civ ul,
.civ li {
    list-style: disc;
    margin-left: 10px;
    margin-bottom: 10px;
}

.civ li li {
    list-style: circle;
}

.civ li li li {
    list-style: square;
}
/*.contentarea div,
.contentarea span,
.contentarea applet,
.contentarea object,
.contentarea iframe,
.contentarea h1,
.contentarea h2,
.contentarea h3,
.contentarea h4,
.contentarea h5,
.contentarea h6,
.contentarea p,
.contentarea blockquote,
.contentarea pre,
.contentarea a,
.contentarea abbr,
.contentarea acronym,
.contentarea address,
.contentarea big,
.contentarea cite,
.contentarea code,
.contentarea del,
.contentarea dfn,
.contentarea em,
.contentarea img,
.contentarea ins,
.contentarea kbd,
.contentarea q,
.contentarea s,
.contentarea samp,
.contentarea small,
.contentarea strike,
.contentarea strong,
.contentarea sub,
.contentarea sup,
.contentarea tt,
.contentarea var,
.contentarea b,
.contentarea i,
.contentarea u,
.contentarea center,
.contentarea dl,
.contentarea dt,
.contentarea dd,
.contentarea ol,
.contentarea ul,
.contentarea li,
.contentarea fieldset,
.contentarea form,
.contentarea label,
.contentarea legend,
.contentarea table,
.contentarea caption,
.contentarea tbody,
.contentarea tfoot,
.contentarea thead,
.contentarea tr,
.contentarea th,
.contentarea td,
.contentarea article,
.contentarea aside,
.contentarea canvas,
.contentarea details,
.contentarea embed,
.contentarea fieldset,
.contentarea figure,
.contentarea figcaption,
.contentarea footer,
.contentarea header,
.contentarea hgroup,
.contentarea menu,
.contentarea nav,
.contentarea output,
.contentarea ruby,
.contentarea section,
.contentarea summary,
.contentarea time,
.contentarea mark,
.contentarea audio,
.contentarea video {
  margin: auto!important;
  padding: auto!important;
  border: auto!important;
  }*/

.contentrea ul {
    padding-left: 1em;
    margin-left: 0;
}
.contentarea h1,
.contentarea h2,
.contentarea h3,
.contentarea h4,
.contentarea h5,
.contentarea h6,
.contentarea p,
.contentarea blockquote,
.contentarea form,
.contentarea label,
.contentarea ul,
.contentarea ol,
.contentarea dl,
.contentarea fieldset,
.contentarea address {
    margin-bottom: 1em;
}
