
/*
#DotwView,
#HealthArticlesView,
#CDCAtwsView,
#VitalSignsView,
#VitalSign,
#FastStatsView,
#FastStat,
#WeeklyDiseaseCaseCountsView,
#WeeklyDiseaseCaseCount,
#EIDsView,
#EID,
#MMWRsView,
#PCDsView,
#PDC,
#NewsroomsView,
#Newsroom,
#OutbreaksView,
#Outbreak,
#TravelNoticesView,
#TravelNotice,
#PodcastsView,
#Podcast,
#PHILsView,
#PHIL,
#PHMblogsView,
#PHM,
#DirectorsBlogsView,
#DirectorsBlog,
#DirectorsBlog,
#DidYouKnow,
#FactoftheWeekView,
#YouTubesView,
*/

/* CONTENT AREA GENERAL */
.contentarea .row {
  display: block;
  padding: 0;
  clear: left;
}

.contentarea .pull-left {
  float: left;
}

.contentarea img {
  float: left;
  max-width: 100%;
  width: auto !important;
  height: auto !important;
  margin-right: 10px;
}

.contentarea .row [class*="span"] {
  display: block;
  float: none;
  padding: 0;
}

/* CONTENT AREA RESPONSIVE */
@media only screen and (max-width: 320px) {
  .contentarea .row img {
    margin: 0;
    display: block;
  }
}

/* VIEW TYPE SPECIFIC AREAS */
.article .contentarea img:first-of-type {
  /*display: none;*/
}

/* VIEW SPECIFIC CONTENT AREAS */
#CDCAtwView .contentarea h1:first-of-type,
#VitalSign .contentarea h1:first-of-type {
  display: none;
}

#CDCAtwView .contentarea {

}